{% extends 'base/main.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/jobs/jobs.css' %}">
<link rel="stylesheet" href="{% static 'css/accounts/dashboard.css' %}">
{% endblock %}

{% block content %}

<section id="applied_jobs">

    <!-- page title -->
    {% include 'base/page_title.html' %}

    <div class="container-fluid mt-3 content-section">

        <div class="jobs-card">

            {% if applications %}
                <div class="row g-4">
                    {% for app in applications %}
                        <div class="col-sm-6 col-xl-4">
                            <div class="card card-body p-3">

                                <!-- Job Info -->
                                <h5 class="main-heading mb-1">{{ app.job.title }}</h5>
                                <p class="secondary-color mb-2">{{ app.job.company_name }}</p>

                                <p class="mb-2" style="font-size: 15px;">
                                    <i class="fa-solid fa-location-dot"></i>
                                    {{ app.job.location }}
                                </p>

                                <p class="mb-2">
                                    <strong>Applied:</strong> {{ app.applied_at|date:"M d, Y" }}
                                </p>

                                <!-- Status -->
                                <div class="mb-3">
                                    {% if app.status == 'pending' %}
                                        <span class="badge bg-warning">Pending</span>
                                    {% elif app.status == 'accepted' %}
                                        <span class="badge bg-success">Accepted</span>
                                    {% else %}
                                        <span class="badge bg-danger">Rejected</span>
                                    {% endif %}
                                </div>

                                <!-- Buttons -->
                                <div class="d-flex gap-2 job-btn">
                                    <a href="{% url 'job_details' app.job.id %}" class="text-decoration-none  btn" style="background-color: var(--brand-color); color: var(--quaternary-color);">
                                        View Job
                                    </a>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="text-center mt-4">
                    <h5>No applications yet</h5>
                    <p class="text-muted">Start applying to jobs to see them here.</p>
                    <a href="{% url 'browse_jobs' %}" class="btn btn-primary">
                        Browse Jobs
                    </a>
                </div>
            {% endif %}

        </div>

    </div>

</section>

{% endblock %}