{% extends 'base/main.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/jobs/jobs.css' %}">
{% endblock %}

{% block content %}

<section id="apply_job">

    {% include 'base/page_title.html' %}

    <div class="container-fluid mt-3 content-section">

        <div class="row g-4">

            <!-- job info(left side) -->
            <div class="col-xl-5">

                <div class="card section-bg p-3 h-100">

                    <div class="d-flex align-items-center gap-3 mb-3">

                        <div class="logo-box bg-light rounded d-flex align-items-center justify-content-center">
                            {% if job.company_logo %}
                                <div style="height: 40; width: 40;">
                                    <img src="{{ job.company_logo.url }}" class="company-logo h-100 w-100" aria-label="company logo" >
                                </div>
                            {% else %}
                                <div style="height: 40; width: 40;">
                                    <img src="{% static 'images/default_logo.png' %}" alt="logo" class="h-100 w-100">
                                </div>
                            {% endif %}
                        </div>

                        <div>
                            <h5 class="mb-0">{{ job.title }}</h5>
                            <small class="text-muted">{{ job.company_name }}</small>
                        </div>

                    </div>

                    <div class="d-flex flex-wrap gap-2 small text-muted mb-3">
                        <span><i class="fa-solid fa-location-dot"></i> {{ job.location }}</span>
                        <span><i class="fa-solid fa-briefcase"></i> {{ job.get_employment_type_display }}</span>
                        <span><i class="fa-solid fa-layer-group"></i> {{ job.experience }}</span>
                    </div>

                    <p class="small text-muted">
                        {{ job.description}}
                    </p>

                </div>

            </div>

            <!-- apply form -->
            <div class="col-xl-7">

                <div class="card section-bg p-3">

                    <h5 class="mb-1">Apply for this job</h5>
                    <small class="text-muted d-block mb-3">
                        Submit your application details
                    </small>

                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}

                        <div class="mb-3">
                            <label class="form-label">Resume</label>
                            {{ form.resume }}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Cover Letter</label>
                            {{ form.cover_letter }}
                        </div>

                        <div class="d-flex justify-content-end gap-2 mt-4">

                            <a href="{% url 'browse_jobs' %}" class="btn btn-warning ">
                                Cancel
                            </a>

                            <button class="btn mybtn">
                                Apply Now
                            </button>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}