{% extends 'base/main.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/jobs/jobs.css' %}">
<link rel="stylesheet" href="{% static 'css/accounts/dashboard.css' %}">
{% endblock %}

{% block content %}
<section id="applications">

    <!-- page title -->
    {% include 'base/page_title.html' %}

    <div class="container-fluid my-3 content-section">

        <!-- =============== job lists starts =============== -->
        <div class="all-jobs section-bg py-3 mt-4">
            <div class="mx-3">
                    
                <div class="main-section__header">
                    <h3 class="main-heading ms-2 mb-0">All Applications</h3>
                </div>

                <div class="main-section__body">

                    <div class="table-responsive">
                        {% if applications %}
                        <table class="table table-sm align-middle table-nowrap table-hover">
                            <thead class="table-secondary">
                                <tr>
                                    <th>Candidate</th>
                                    <th>Job</th>
                                    <th>Status</th>
                                    <th>Applied At</th>
                                    <th>Resume</th>
                                    <th class="text-center">Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for app in applications %}
                                <tr class="application-row">

                                    <!-- Candidate -->
                                    <td>
                                        <div class="d-flex align-items-center gap-2">
                                            <div class="avatar-box">
                                                {% if app.candidate.profile_image %}
                                                    <img src="{{ app.candidate.profile_image.url }}"
                                                        class="rounded-circle"
                                                        width="30"
                                                        height="30"
                                                        style="object-fit: cover;" aria-label="Profile Img">
                                                {% else %}
                                                    <img src="{% static 'images/profile.svg' %}"
                                                        class="rounded-circle"
                                                        width="30"
                                                        height="30"
                                                        style="object-fit: cover;" aria-label="profile img">
                                                {% endif %}
                                            </div>

                                            <div class="d-flex flex-column">
                                                <span class="fw-medium text-capitalize">
                                                    {{ app.candidate.username }}
                                                </span>
                                                <small class="table-meta">Candidate</small>
                                            </div>
                                        </div>
                                    </td>

                                    <!-- Job -->
                                    <td>
                                        <div class="d-flex flex-column">
                                            <span class="fw-medium">{{ app.job.title }}</span>
                                            <small class="table-meta">{{ app.job.company_name }}</small>
                                        </div>
                                    </td>

                                    <!-- Status -->
                                    <td>
                                        <span class="badge px-2 py-1 rounded-4
                                            {% if app.status == 'accepted' %}badge bg-success
                                            {% elif app.status == 'rejected' %}badge bg-danger
                                            {% else %}badge bg-warning
                                            {% endif %}">
                                            {{ app.status|title }}
                                        </span>
                                    </td>

                                    <!-- Applied Date -->
                                    <td>
                                        <span class="table-meta date-text">
                                            {{ app.applied_at|date:"d M, Y" }}
                                        </span>
                                    </td>

                                    <!-- Resume -->
                                    <td>
                                        {% if app.resume %}
                                            <a href="{{ app.resume.url }}" target="_blank"
                                            class="table-meta resume-link d-inline-flex align-items-center gap-1">
                                                <span>Resume</span>
                                                <i class="fa-solid fa-download"></i>
                                            </a>
                                        {% else %}
                                            <span class="table-meta muted">No file</span>
                                        {% endif %}
                                    </td>

                                    <!-- Actions -->
                                    <td class="actions">
                                        <div class="d-flex justify-content-center gap-3">
                                            {% if app.status != "accepted" %}
                                                <a href="{% url 'accept_application' app.id %}" aria-label="accept" class="edit-job text-success">
                                                    <i class="fa-solid fa-check"></i>
                                                </a>
                                            {% endif %}
                                            {% if app.status != "rejected" %}
                                                <a href="{% url 'reject_application' app.id %}" aria-label="reject" class="delete-job text-danger">
                                                    <i class="fa-solid fa-xmark"></i>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </td>

                                </tr>
                                {% endfor %}
                            </tbody>
                            
                        </table>
                        {% else %}
                            <p>No applications yet.</p>
                        {% endif %}
                    </div>

                    
                    <!-- =============== paginator starts =============== -->
                    {% if applications.paginator.num_pages > 1 %}
                    <div class="pagination-container text-center">

                        <!-- Previous -->
                        {% if applications.has_previous %}
                            <a href="?page={{ applications.previous_page_number }}" class="pagination-btn" aria-label="paginator left">
                                <i class="fa-solid fa-chevron-left"></i>
                            </a>
                        {% endif %}

                        <!-- Page Numbers -->
                        {% for num in applications.paginator.page_range %}
                            {% if applications.number == num %}
                                <span class="pagination-btn active">{{ num }}</span>
                            {% else %}
                                <a href="?page={{ num }}" class="pagination-btn">{{ num }}</a>
                            {% endif %}
                        {% endfor %}

                        <!-- Next -->
                        {% if applications.has_next %}
                            <a href="?page={{ applications.next_page_number }}" class="pagination-btn" aria-label="paginator right">
                                <i class="fa-solid fa-chevron-right"></i>
                            </a>
                        {% endif %}

                    </div>
                    {% endif %}
                    <!-- =============== paginator ends =============== -->

                </div>
            </div>
        </div>
        <!-- =============== application list ends =============== -->

    </div>

</section>
{% endblock %}