/* =============== xxl screen =============== */
@media screen and (max-width: 1400px) {
    
}


/* =============== xl screen =============== */
@media screen and (max-width: 1200px) {
    
}


/* =============== lg screen =============== */
@media screen and (max-width: 992px) {
    
}


/* =============== md screen =============== */
@media screen and (max-width: 768px) {
    
    /* =============== main contents =============== */
    #sidebar {
        position: fixed;
        top: 0;
        left: -250px;
        height: 100%;
        z-index: 1050;
    }

    #sidebar.show {
        left: 0;
    }

    #sidebar.collapsed {
        width: 250px;
    }

      .navbar-custom .topbar-logo{
        display: block !important;
        margin-right: 10px;
    }
}


/* =============== sm screen =============== */
@media screen and (max-width: 576px) {

    /* =============== main contents =============== */
    .search-form{
        display: none !important;
    }
    
}


/* =============== extra-sm screen =============== */
@media screen and (max-width: 400px) {
    
}