


    <div class="dashboard-cards">
        <div class="container-fluid">
            <div class="row">
                
                <!-- =============== total jobs =============== -->
                <div class=" col-6 col-lg-3 g-3">
                    <div class="dashboard-card">
                        <div class="card card-body text-white transition border-radius">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>

                                    {% if request.user.is_authenticated %}
                                        {% if request.user.role == 'employer' %}
                                            <span class="d-block job-num mb-2">
                                                {% if total_jobs %}
                                                    {{ total_jobs }}
                                                {% else %}
                                                    0
                                                {% endif %}
                                            </span>
                                            <span class="card-heading">Posted Jobs</span>
                                        {% else %}
                                            <span class="d-block job-num mb-2">
                                                {% if applied_jobs %}
                                                    {{ applied_jobs }}
                                                {% else %}
                                                    0
                                                {% endif %}
                                            </span>
                                            <span class="card-heading">Applied Jobs</span>
                                        {% endif %}
                                    {% endif %}

                                </div>
                                <div class="icon-box rounded-circle d-inline-flex align-items-center justify-content-center">
                                    <i class="fa-solid fa-briefcase"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- =============== total applications =============== -->
                <div class=" col-6 col-lg-3 g-3">
                    <div class="dashboard-card">
                        <div class="card card-body text-white transition border-radius">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>

                                    {% if request.user.is_authenticated %}
                                        {% if request.user.role == 'employer' %}
                                            <span class="d-block job-num mb-2">
                                                {% if total_applications %}
                                                    {{ total_applications }}
                                                {% else %}
                                                    0
                                                {% endif %}
                                            </span>
                                            <span class="card-heading">Applications</span>
                                        {% else %}
                                            <span class="d-block job-num mb-2">
                                                {% if interviewed_jobs %}
                                                    {{ interviewed_jobs }}
                                                {% else %}
                                                    0
                                                {% endif %}
                                            </span>
                                            <span class="card-heading">Interviewed</span>
                                        {% endif %}
                                    {% endif %}

                                </div>
                                <div class="icon-box rounded-circle d-inline-flex align-items-center justify-content-center">
                                    <i class="fa-solid fa-file-pdf"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- =============== active jobs =============== -->
                <div class=" col-6 col-lg-3 g-3">
                    <div class="dashboard-card">
                        <div class="card card-body text-white transition border-radius">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>

                                    {% if request.user.is_authenticated %}
                                        {% if request.user.role == 'employer' %}
                                            <span class="d-block job-num mb-2">
                                                {% if active_jobs %}
                                                    {{ active_jobs }}
                                                {% else %}
                                                    0
                                                {% endif %}
                                            </span>
                                            <span class="card-heading">Active Jobs</span>
                                        {% else %}
                                            <span class="d-block job-num mb-2">
                                                {% if job_offers %}
                                                    {{ job_offers }}
                                                {% else %}
                                                    0
                                                {% endif %}
                                            </span>
                                            <span class="card-heading">Offers</span>
                                        {% endif %}
                                    {% endif %}
                        
                                </div>
                                <div class="icon-box rounded-circle d-inline-flex align-items-center justify-content-center">
                                    <i class="fa-solid fa-eye"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- =============== shortlisted candidates =============== -->
                <div class=" col-6 col-lg-3 g-3">
                    <div class="dashboard-card">
                        <div class="card card-body text-white transition border-radius">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>

                                    {% if request.user.is_authenticated %}
                                        {% if request.user.role == 'employer' %}
                                            <span class="d-block job-num mb-2">
                                                {% if shortlisted_candidates %}
                                                    {{ shortlisted_cantidates }}
                                                {% else %}
                                                    0
                                                {% endif %}
                                            </span>
                                            <span class="card-heading">Shortlisted</span>
                                        {% else %}
                                            <span class="d-block job-num mb-2">
                                                {% if saved_jobs %}
                                                    {{ saved_jobs }}
                                                {% else %}
                                                    0
                                                {% endif %}
                                            </span>
                                            <span class="card-heading">Saved Jobs</span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <div class="icon-box rounded-circle d-inline-flex align-items-center justify-content-center">
                                    <i class="fa-solid fa-bookmark"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>