


    <div class="dashboard-cards">
        <div class="container-fluid">
            <div class="row">
                
                <!-- =============== total jobs =============== -->
                <div class=" col-6 col-lg-3 g-4">
                    <div class="dashboard-card">
                        <div class="card card-body text-white transition border-radius">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>

                                    {% if request.user.is_authenticated %}
                                        {% if request.user.role == 'employer' %}
                                            <h3 class="card-heading">Posted Jobs</h3>
                                            <span class="d-block job-num">
                                                {% if total_jobs %}
                                                    {{ total_jobs }}
                                                {% else %}
                                                    0
                                                {% endif %}
                                            </span>
                                        {% else %}
                                            <h3 class="card-heading">Applied Jobs</h3>
                                            <span class="d-block job-num">
                                                {% if total_applied %}
                                                    {{ total_applied }}
                                                {% else %}
                                                    0
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- =============== total applications =============== -->
                <div class=" col-6 col-lg-3 g-4">
                    <div class="dashboard-card">
                        <div class="card card-body text-white transition border-radius">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>

                                    {% if request.user.is_authenticated %}
                                        {% if request.user.role == 'employer' %}
                                            <h3 class="card-heading">Applications</h3>
                                            <span class="d-block job-num">
                                                {% if total_applications %}
                                                    {{ total_applications }}
                                                {% else %}
                                                    0
                                                {% endif %}
                                            </span>
                                        {% else %}
                                            <h3 class="card-heading">Accepted</h3>
                                            <span class="d-block job-num">
                                                {% if total_accepted %}
                                                    {{ total_accepted }}
                                                {% else %}
                                                    0
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- =============== active jobs =============== -->
                <div class=" col-6 col-lg-3 g-4">
                    <div class="dashboard-card">
                        <div class="card card-body text-white transition border-radius">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>

                                    {% if request.user.is_authenticated %}
                                        {% if request.user.role == 'employer' %}
                                            <h3 class="card-heading">Active Jobs</h3>
                                            <span class="d-block job-num ">
                                                {% if active_jobs %}
                                                    {{ active_jobs }}
                                                {% else %}
                                                    0
                                                {% endif %}
                                            </span>
                                        {% else %}
                                            <h3 class="card-heading">Pending Jobs</h3>
                                            <span class="d-block job-num">
                                                {% if total_pending %}
                                                    {{ total_pending }}
                                                {% else %}
                                                    0
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    {% endif %}
                        
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- =============== hires =============== -->
                <div class=" col-6 col-lg-3 g-4">
                    <div class="dashboard-card">
                        <div class="card card-body text-white transition border-radius">
                            <div class="d-flex justify-content-between align-items-center">
                                <div>

                                    {% if request.user.is_authenticated %}
                                        {% if request.user.role == 'employer' %}
                                            <h3 class="card-heading">Hired </h3>
                                            <span class="d-block job-num">
                                                {% if total_hired %}
                                                    {{ total_hired }}
                                                {% else %}
                                                    0
                                                {% endif %}
                                            </span>
                                        {% else %}
                                            <h3 class="card-heading">Rejected</h3>
                                            <span class="d-block job-num">
                                                {% if total_rejected %}
                                                    {{ total_rejected }}
                                                {% else %}
                                                    0
                                                {% endif %}
                                            </span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>