{% extends 'accounts/user_authentication.html' %}

{% block content%}

<div class="">
    <h1 class="text-center mb-3 form-heading">Password Reset Sent</h1>
    <p class="description">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
    <p class="description mb-0">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
</div>


{% endblock %}