

.dashboard-card .card{
    background: linear-gradient(90deg, rgba(64, 81, 137, 0.9), rgba(255, 255, 255, 0.1)), url("/static/images/card-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 1px 1px 5px #bed0e1;
    padding: 1.3rem;
}

.dashboard-card .card .job-num{
    margin-top:10px;
    font-size: 1.2rem;
}

.dashboard-card .card .card-heading{
    font-size: 1.15rem;
}

.dashboard-card .card .icon-box{
    background-color: #ffffff33;
    padding: 0.3rem ;
}

.dashboard-card .card .icon-box i{
    font-size: 0.9rem;
}

@media screen and (max-width: 992px) {
    .applications{
        order: 2;
    }

    .chart{
        order: 1;
    }
}

/* =============== browse jobs starts =============== */
#browse_jobs .card, #applied_jobs .card{
    box-shadow: 1px 1px 5px #bed0e1;
}

#browse_jobs .logo-box{
    background-color: rgba(64, 81, 137, 0.2);
}

.saved-job__icon {
    padding: 7px;
    border-radius: 3px;
    background-color: rgba(64, 81, 137, 0.15);
    cursor: pointer;
}

.saved-job__icon i {
    color: #405189;
    font-size: 14px;
    transition: all 0.3s ease;
}

.saved-job__icon:hover {
    background-color: #405189;
}

.saved-job__icon:hover i {
    color: var(--quaternary-color);
}

.job-description{
    font-size: 0.88rem;
    color: var(--secondary-color)
}

.job-btn .btn{
    display: inline-block;
    padding: 6px 25px;
    border-radius: 0%;
    font-size: 0.9rem;
    transition: var(--transition);
}

.job-btn .apply-btn{
    background-color: rgba(64, 81, 137, 0.2);
    color: var(--brand-color);
}

.job-btn .apply-btn:hover, .job-btn .apply-btn:active{
    background-color: var(--brand-color);
    color: var(--quaternary-color);
}

.job-btn .overview-btn{
    background-color: rgba(10, 179, 156, 0.15);
    color: var(--brand-support);
}

.job-btn .overview-btn:hover, .job-btn .overview-btn:active{
    background-color: var(--brand-support);
    color: var(--quaternary-color);
}
/* =============== browse job ends =============== */


/* =============== job details starts =============== */
#job-details .logo-box{
    height: 50px;
    width: 50px;
}

#job-details .job-name{
    color: #495057;
    font-size: 1.2rem;
}

#job-details .other-details{
    color: #495057;
    font-size: 13px;
}
/* =============== job details ends =============== */