/* =============== common code starts here =============== */
:root{
    --brand-color: #405189;
    --brand-support: #0AB39C;

    --secondary-color :#7f8b97;
    --tertiary-color : #495057;
    --quaternary-color : #f0f0f1;

    --navlink-color : #abb9e8;

    --background-color: #F3F3F9;

    --border-radius : 4px;

    --transition: 0.4s all;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Roboto", sans-serif;
    background-color: #F3F3F9;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Ubuntu", sans-serif;
}

.form-control, .btn-submit, .btn-warning, .form-select{
    border-radius: 0%;
}

.btn:focus,
.btn:active,
.form-control:focus,
.form-select:focus {
    outline: none !important;    
    box-shadow: none !important;    
    background-color: transparent !important;
    color: var(--tertiary-color);
    border-radius: 0;
}

.card{
    border: none;
}

.main-heading{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--tertiary-color);
}

.mybtn{
    background-color: var(--brand-color);
    padding: 8px 14px;
    color: var(--quaternary-color);
    font-size: 0.88rem;
    transition: var(--transition);
    border-radius: 0%;
}

.mybtn i{
    font-size: 0.8rem;
}

.mybtn:hover{
    background-color: var(--brand-support);
}

.form-select{
    padding: 8px 14px;
}

.content-section{
    margin-bottom: 70px !important;
}
/* =============== common code ends here =============== */



/* =============== custom common class starts here =============== */
.brand-color__background{
    background-color: var(--brand-color);
}

.brand-color__font{
    color: var(--brand-color);
}

.nav-link__color{
    color: var(--navlink-color);
}

.secondary-color{
    color: var(--secondary-color);
}

.tertiary-color{
    color: var(--tertiary-color);
}

.quaternary-color{
    color: var(--quaternary-color);
}

.border-radius{
    border-radius: var(--border-radius);
}

.transition{
    transition: var(--transition);
}
/* =============== custom common class ends here =============== */


/* =============== bootstrap default override starts =============== */
.navbar-toggler:focus{
    box-shadow: none;
}

.btn{
    --bs-btn-box-shadow : transparent;
    --bs-btn-border-width: 0px;
}

.btn-close {
    --bs-btn-close-focus-shadow: transparent;
}

.navbar{
    --bs-navbar-toggler-border-color: transparent;
}

.navbar-toggler{
    line-height: 0;
    border : none;
    padding: 0;
}
/* =============== bootstrap default override ends =============== */



/* =============== sidebar starts here =============== */
.nav-link{
    color: var(--navlink-color);
    font-size: 1rem;
}

.nav-link:hover{
    color: var(--quaternary-color);
}

h1{
    font-size: 1.1rem;
    font-weight: 500;
}

nav hr{
    color: var(--quaternary-color);
    height: 2px;
    width: 100%;
}
/* =============== sidebar ends here =============== */



/* =============== topbar starts here =============== */
.search-form{
    width: auto;
}

.search-form svg{
    color: var(--tertiary-color);
}

.search-form input{
    border: none;
    background-color: transparent;
}

.search-form{
    background-color: var(--quaternary-color);
    padding: 0.25rem 0.8rem;
    border-radius: var(--border-radius);
}

.search-form input::placeholder{
    font-size: 0.9rem;
}

.search-form .form-control{
    padding: 0.15rem;
    padding-left: 0.35rem;
}

.profile-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover; 
}
/* =============== topbar ends here =============== */




/* =============== mobile nav starts here =============== */
#mobile-navbar{
    display: none;
}

.offcanvas.offcanvas-start{
    width: 200px;
}

.offcanvas-header .btn-close{
    font-size: 14px;
}
/* =============== mobile nav ends here =============== */




/* =============== footer starts here =============== */
footer{
    background-color: #fff;
    position: fixed;
    bottom: 0;
    width: inherit;
}

footer .footer-contents{
    font-size: 0.85rem; 
    color: var(--secondary-color);
}
/* =============== footer ends here =============== */



/* =============== section header starts here =============== */
.section-header{
  background-color: #fff;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  box-shadow: 1px 1px 5px #bed0e1;
}

.section-header .page-name{
  font-size: 0.8rem;
  color: var(--secondary-color);
}

.section-header .page-name span:last-child, .section-header .page-name .fa-solid{
  color: var(--tertiary-color);
}
/* =============== section header ends here =============== */