/* =============== xxl screen =============== */
@media screen and (max-width: 1400px) {
    
}


/* =============== xl screen =============== */
@media screen and (max-width: 1200px) {
    
    /* =============== sidebar nav =============== */
    .nav-link{
        font-size: 0.9rem;
    }
}



/* =============== lg screen =============== */
@media screen and (max-width: 992px) {


}



/* =============== md screen =============== */
@media screen and (max-width: 768px) {
    #sidebar, #topbar{
        display: none !important;
    }

    #mobile-navbar{
        display: block;
    }

    #sidebar-wrapper{
        display: none;
    }

    footer{
        left: 0;
    }
}



/* =============== sm screen =============== */
@media screen and (max-width: 576px) {
    
}



/* =============== extra-sm screen =============== */
@media screen and (max-width: 400px) {
    
}

