{% extends 'accounts/user_authentication.html' %}
{% load static %}

{% block content %}
<div class="text-center mb-3">
    <h1 class="form-heading main-heading">HireFlow</h1>
    <p class="small text-white">
        Login or create an account to continue
    </p>
</div>

<div class="d-flex flex-column gap-3 w-100" style="max-width: 300px; margin: 0 auto;">
    <!-- Login -->
    <a href="{% url 'login' %}" class="btn btn-primary btn-submit w-100">
        Login
    </a>

    <!-- Candidate Register -->
    <a href="{% url 'candidate_register' %}" class="btn mybtn w-100">
        Register as Candidate
    </a>

    <!-- Employer Register -->
    <a href="{% url 'employer_register' %}" class="btn mybtn w-100">
        Register as Employer
    </a>
</div>
{% endblock %}