<!DOCTYPE html>
{% load static %}
<html lang="en-US">
<head>
    <!-- =============== meta tags =============== -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="Django, Django REST Framework, Python, Postgresql, Html, Css, Javascript, Bootstrap">
    <meta name="author" content="Athika Chowdhury Priya">

    <!-- =============== title tag =============== -->
    <title>HireFlow | Connect. Apply. Grow.</title>

    <!-- =============== favicon =============== -->
    <link rel="icon" type="image/webp" href="{% static 'images/logo.webp' %}">

    <!-- =============== google fonts =============== -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

    <!-- =============== font awesome cdn =============== -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">

    <!-- =============== bootstrap css cdn =============== -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">

    <!-- =============== global css =============== -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

    <!-- =============== individual page css =============== -->
    {% block css %} {% endblock %}
</head>
<body>

    <!-- ============== sidebar =============== -->
    {% include 'base/sidebar.html' %}

    <div id="content" class="d-flex flex-column min-vh-100">
        <!-- =============== topbar =============== -->
        {% include 'base/topbar.html' %}

        <!-- =============== main contents starts =============== -->
        <div class="w-100 flex-grow-1">
            {% block content %}
            {% endblock %}
        </div>
        <!-- =============== main contents ends =============== -->

        <!-- =============== footer =============== -->
        {% include 'base/footer.html' %}

    </div>


    <!-- =============== bootstrap js cdn =============== -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

    <!-- =============== global script =============== -->
    <script src="{% static 'scripts/main.js' %}"></script>

    <!-- =============== individual scripts =============== -->
    {% block script %} {% endblock %}
</body>
</html>