
{% load static %}
<nav class="navbar navbar-expand-lg brand-color__background">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center gap-2" href="{% url 'homepage' %}">
        <img src="{% static 'images/logo.webp' %}" alt="HireFlow Logo">
        <h1 class="mb-0 quaternary-color">HireFlow</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link nav-link__color" aria-current="page" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link__color" href="#">Manage Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link__color" href="#">Applications</a>
        </li>
      </ul>
    </div>
  </div>
</nav>