
<!-- =============== section header starts =============== -->
    <div class="section-header container-fluid">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="main-heading mb-0">{{ page_title }}</h2>
            <div class="page-name d-flex gap-1 align-items-center">
                <span>HireFlow</span>
                <i class="fa-solid fa-angle-right" style="font-size: 0.65rem;"></i>
                <span>{{ page_title }}</span>
            </div>
        </div>
    </div>
<!-- =============== section header ends =============== -->