{% extends 'base/main.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/jobs/jobs.css' %}">
<link rel="stylesheet" href="{% static 'css/accounts/dashboard.css' %}">
{% endblock %}

{% block content %}

<section id="job-details" class="py-3">

<div class="container-fluid content-section">

    <div class="section-bg card p-4">

        <div class="job-header d-flex justify-content-between align-items-start flex-wrap gap-3">

            <!-- left side(company logo and title) -->
            <div class="d-flex gap-3 align-items-center">

                <div class="logo-box-lg">
                    {% if job.company_logo %}
                        <div style="height: 40; width: 40;">
                            <img src="{{ job.company_logo.url }}" class="company-logo h-100 w-100" aria-label="company logo">
                        </div>
                    {% else %}
                    <div style="height: 40; width: 40;">
                        <img src="{% static 'images/default_logo.png' %}" class="company-logo h-100 w-100" aria-label="default logo">
                    </div>
                    {% endif %}
                </div>

                <div>
                    <h4 class="fw-semibold mb-2 main-heading">{{ job.title }}</h4>

                    <div class="text-muted small d-flex flex-wrap gap-2 align-items-center">
                        <span><i class="fa-solid fa-building"></i> {{ job.company_name }}</span>
                        <span>•</span>
                        <span><i class="fa-solid fa-location-dot"></i> {{ job.location|default:"Remote" }}</span>
                    </div>

                </div>
            </div>

            <!-- right side(job type) -->
            <div>
                <span class="badge {{ job.badge_class }} px-3 py-2 rounded-pill">
                    {{ job.get_employment_type_display }}
                </span>
            </div>

        </div>

        <!-- quick stat -->
        <div class="job-stats-grid mt-4">

            <div class="stat-card">
                <small>Salary</small>
                <h6>
                    {% if job.salary %}
                        ${{ job.salary }}
                    {% else %}
                        Not disclosed
                    {% endif %}
                </h6>
            </div>

            <div class="stat-card">
                <small>Experience</small>
                <h6>{{ job.experience }}</h6>
            </div>

            <div class="stat-card">
                <small>Posted</small>
                <h6>{{ job.posted_at|date:"d M Y" }}</h6>
            </div>

            <div class="stat-card {% if job.deadline %}danger{% endif %}">
                <small>Deadline</small>
                <h6>
                    {% if job.deadline %}
                        {{ job.deadline }}
                    {% else %}
                        Not set
                    {% endif %}
                </h6>
            </div>

        </div>

        <!-- skills -->
        <div class="mt-4">
            <h6 class="section-title">Skills Required</h6>

            <div class="d-flex flex-wrap gap-2">
                {% if job.skills.exists %}
                    {% for skill in job.skills.all|slice:":3" %}
                        <span class="skill-badge">{{ skill.name }}</span>
                    {% endfor %}

                        {% if job.skills.count > 3 %}
                            <span class="skill-badge more-badge">
                                +{{ job.skills.count|add:"-3" }}
                            </span>
                        {% endif %}
                    {% else %}
                    <span class="table-meta muted">N/A</span>
                {% endif %}
            </div>
        </div>

        <!-- description -->
        <div class="mt-4">
            <h6 class="section-title">Job Description</h6>

            <div class="description-box">
                <p class="description text-muted">{{ job.description }}</p>
            </div>
        </div>

        <!-- apply section -->
        <div class="apply-bar mt-4 d-flex justify-content-between align-items-center flex-wrap gap-2">

            <div class="text-muted small">
                {% if job.deadline %}
                    Apply before <strong>{{ job.deadline }}</strong>
                {% endif %}
            </div>

            <div>
                {% if user.is_authenticated %}

                    {% if job.deadline and job.deadline < today %}
                        <button class="btn btn-dark px-4" disabled>
                            Applications Closed
                        </button>

                    {% elif has_applied %}
                        <button class="btn btn-secondary px-4" disabled>
                            Already Applied
                        </button>

                    {% else %}
                        <a href="{% url 'apply_job' job.id %}" class="btn mybtn px-4">
                            Apply Now
                        </a>
                    {% endif %}

                {% endif %}

            </div>

        </div>

    </div>

</div>

</section>

{% endblock %}