
{% extends 'base/main.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/jobs/jobs.css' %}">
{% endblock %}

{% block content %}

<section id="manage_jobs">

    <!-- page title -->
    {% include 'base/page_title.html' %}

    <!-- =============== main section starts here =============== -->
    <div class="container-fluid my-3 content-section">

        <!-- =============== filter starts =============== -->
        <div class="filter-section section-bg py-3">
            <div class="mx-3">

                <div class="d-flex justify-content-end ">
                    <a href="{% url 'create_job' %}" class="d-flex gap-2 text-decoration-none align-items-center mybtn">
                        <i class="fa-solid fa-plus"></i>
                        <span>Create New Job</span>
                    </a>
                </div>


                <form method="get" class="row g-2 align-items-center mt-2">

                    <!-- Job title search -->
                    <div class="col-sm-4">
                        <input type="text" name="q" class="form-control" placeholder="Search by job title" value="{{ query }}">
                    </div>

                    <!-- Employment type filter -->
                    <div class="col-6 col-sm-4 col-md-3">
                        <select name="employment_type" class="form-select">
                            <option value="">All Employment Types</option>
                            <option value="FT" {% if employment_type == "FT" %}selected{% endif %}>Full-time</option>
                            <option value="PT" {% if employment_type == "PT" %}selected{% endif %}>Part-time</option>
                            <option value="CT" {% if employment_type == "CT" %}selected{% endif %}>Contract</option>
                            <option value="IN" {% if employment_type == "IN" %}selected{% endif %}>Internship</option>
                            <option value="FL" {% if employment_type == "FL" %}selected{% endif %}>Freelance</option>
                        </select>
                    </div>

                    <!-- Status filter -->
                    <div class="col-6 col-sm-2 col-md-3">
                        <select name="status" class="form-select">
                            <option value="">All Status</option>
                            <option value="active" {% if status == "active" %}selected{% endif %}>Active</option>
                            <option value="closed" {% if status == "closed" %}selected{% endif %}>Closed</option>
                        </select>
                    </div>

                    <!-- Submit button -->
                    <div class="col-sm-2">
                        <button type="submit" class="btn btn-primary w-100 mybtn d-flex gap-2 justify-content-center align-items-center">
                            <i class="fa-solid fa-sliders"></i>
                            <span>Filter</span>
                        </button>
                    </div>
                </form>

            </div>
        </div>
        <!-- =============== filter ends =============== -->

        <!-- =============== job lists starts =============== -->
        <div class="all-jobs section-bg py-3 mt-4">
            <div class="mx-3">
                    
                <div class="main-section__header">
                    <h3 class="main-heading ms-2 mb-0">All Jobs</h3>
                </div>

                <div class="main-section__body">

                    <div class="table-responsive">
                        <table class="table table-sm align-middle table-nowrap table-hover">

                            <thead class="table-secondary">
                                <th>Company Name</th>
                                <th>Designation</th>
                                <th>Type</th>
                                <th>Experience</th>
                                <th>Salary</th>
                                <th>Skills</th>
                                <th>Deadline</th>
                                <th>Status</th>
                                <th class="text-center">Actions</th>
                            </thead>

                            <tbody>
                                {% for job in jobs %}
                                
                                <tr class="jobs-row">
                                    <!-- company name -->
                                    <td>
                                        <div class="d-flex align-items-center gap-2">
                                            <div class="logo-box d-flex align-items-center justify-content-center">
                                                {% if job.company_logo %}
                                                    <img src="{{ job.company_logo.url }}" class="company-logo w-100 h-100" aria-label="company logo">
                                                {% else %}
                                                    <img src="{% static 'images/default_logo.png' %}" class="company-logo w-100 h-100" aria-label="default logo">
                                                {% endif %}
                                            </div>

                                            <div class="d-flex flex-column">
                                                <span class="fw-medium">{{ job.company_name }}</span>
                                                <small class="table-meta">Company</small>
                                            </div>
                                        </div>
                                    </td>

                                    <!-- designation -->
                                   <td>
                                        <div class="d-flex flex-column">
                                            <span class="fw-medium">{{ job.title }}</span>
                                            <small class="table-meta">Job Role</small>
                                        </div>
                                    </td>

                                    <!-- employment type -->
                                    <td>
                                        <span class="badge py-1 px-2 rounded-4 {{ job.badge_class }}">
                                            {{ job.get_employment_type_display }}
                                        </span>
                                    </td>

                                    <!-- experience -->
                                    <td class="py-3">
                                        <span class="badge px-2 py-1 rounded-4 {{ job.experience_badge }}">
                                            {{ job.experience }}
                                        </span>
                                    </td>

                                    <!-- salary -->
                                    <td>
                                        {% if job.salary %}
                                            <span class="table-meta salary-text">$ {{ job.salary }}</span>
                                        {% else %}
                                            <span class="table-meta muted">N/A</span>
                                        {% endif %}
                                    </td>

                                    <!-- skills -->
                                    <td>
                                        {% if job.skills.exists %}
                                            {% for skill in job.skills.all|slice:":3" %}
                                                <span class="skill-badge">{{ skill.name }}</span>
                                            {% endfor %}

                                            {% if job.skills.count > 3 %}
                                                <span class="skill-badge more-badge">
                                                    +{{ job.skills.count|add:"-3" }}
                                                </span>
                                            {% endif %}
                                        {% else %}
                                            <span class="table-meta muted">N/A</span>
                                        {% endif %}
                                    </td>

                                    <!-- deadline -->
                                    <td>
                                        {% if job.deadline %}
                                            <span class="table-meta date-text">
                                                {{ job.deadline|date:"d M" }}
                                            </span>
                                        {% else %}
                                            <span class="table-meta muted">---</span>
                                        {% endif %}
                                    </td>

                                    <!-- status -->
                                    <td>
                                        {% if job.is_active %}
                                            <span class="badge bg-success">Active</span>
                                        {% else %}
                                            <span class="badge bg-danger">Closed</span>
                                        {% endif %}
                                    </td>

                                    <!-- actions -->
                                    <td class="actions">
                                        {% if job.is_active %}
                                        <div class="d-flex justify-content-center gap-4">
                                            <a href="{% url 'edit_job' job.id %}" aria-label="edit" class="edit-job">
                                                <i class="fa-solid fa-pen"></i>
                                            </a>
                                            <a href="{% url 'delete_job' job.id %}" aria-label="delete" class="delete-job">
                                                <i class="fa-solid fa-trash-arrow-up"></i>
                                            </a>
                                        </div>
                                        {% else %}
                                            <div class="d-flex justify-content-center gap-4">
                                                <a href="{% url 'restore_job' job.id %}" aria-label="restore" class="restore-job">
                                                   <i class="fa-solid fa-rotate-left"></i>
                                                </a>
                                                <a href="{% url 'restore_job' job.id %}" aria-label="edit" class="edit-job">
                                                    <i class="fa-solid fa-pen"></i>
                                                </a>
                                            </div>
                                        {% endif %}
                                    </td>

                                </tr>

                                {% empty %}
                                <tr>
                                    <td colspan="9" class="text-center text-muted py-3 bg-light">No jobs found.</td>
                                </tr>
                                {% endfor %}

                            </tbody>

                        </table>
                    </div>

                    <!-- =============== paginator starts =============== -->
                    {% if jobs.paginator.num_pages > 1 %}

                        <div class="pagination-container text-center">

                            <!-- Previous -->
                            {% if jobs.has_previous %}
                                <a href="?page={{ jobs.previous_page_number }}" class="pagination-btn" aria-label="paginator left">
                                    <i class="fa-solid fa-chevron-left"></i>
                                </a>
                            {% endif %}

                            <!-- Page Numbers -->
                            {% for num in jobs.paginator.page_range %}
                                {% if jobs.number == num %}
                                    <span class="pagination-btn active">{{ num }}</span>
                                {% else %}
                                    <a href="?page={{ num }}" class="pagination-btn">{{ num }}</a>
                                {% endif %}
                            {% endfor %}

                            <!-- Next -->
                            {% if jobs.has_next %}
                                <a href="?page={{ jobs.next_page_number }}" class="pagination-btn" aria-label="paginator right">
                                    <i class="fa-solid fa-chevron-right"></i>
                                </a>
                            {% endif %}

                        </div>
                    {% endif %}
                    <!-- =============== paginator ends =============== -->

                </div>
            </div>
        </div>
        <!-- =============== job list ends =============== -->
            
    </div>
    <!-- =============== main section ends here =============== -->


</section>
{% endblock %}